.box-header{
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid rgb(177, 2, 2);
    padding: 6px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.box-info{
    background-color: #fff;
    width: 70%;
    height: 80vh;
    margin-left: 30%;
    display: flex;
    justify-content: space-around;
}

.box-info-img{
    width: 20%;
    height: 50vh;
    position: absolute;
    margin-top: 10vh;
    margin-left: -30%;
}
.box-info-text{
    text-align: center;
    margin-top: 10vh;
    margin-left: -50%;
}

.box-info-ger{
    padding-top: 5%;
}